<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tekla3DRebarVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Tekla3DRebarVisualizer.Properties.Settings>
            <setting name="MatrixRotateByX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MatrixRotateByY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MatrixRotateByZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PulloutScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PulloutLineProp" serializeAs="String">
                <value>standard</value>
            </setting>
            <setting name="PulloutTextProp" serializeAs="String">
                <value>standard</value>
            </setting>
        </Tekla3DRebarVisualizer.Properties.Settings>
    </userSettings>
</configuration>